body {
  background: linear-gradient(176deg, #00fcfa85 34%, #ff860059 49%, #ff860059 70%, #00fcfa85 83%);
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  margin: 40px 0;
  font-size: 18px;
}
