body {
  font-family: Trebuchet MS, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 70px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h1>b {
  font-size: larger;
}

h1>b::before {
  display: inline;
  content: "\201C";
}

h1>b::after {
  display: inline;
  content: "  \201D";
}

u {
  text-decoration: underline;
}
