body {
  max-width: 1200px;
  margin: 0 auto;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: #FFFADC;
}

body::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #3a3017;
  background-image: url("bg.png");
  position: absolute;
  top: 0;
  left: 0;  
  z-index: -1;
  /* opacity: 0.04; */
  background-size: cover;
  filter: brightness(0.7);
}


ul {
  display: flex;
  flex-flow: column wrap;
  height: 272px;
  margin: 40px 0;
  font-size: 18px;
}
